
.header{
    height: 400px;
    width: 100%;

    background: pink;
    overflow: hidden;
}

/* .parallax {
    background-image: url("../images/bg.jpg");
  
    height: 1000px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */